html {
    font-family: "Lucida Sans", sans-serif;
}
* {
    box-sizing: border-box;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float:left;
    position: relative;
    background-color: #FFF;
    z-index: 0;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 14px;
    line-height: 150%;
    vertical-align: middle;
    color: #A9A9A9;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 45%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

ul > li > span {
	float: left;
	position: relative;
	left : 3%;
    top: -10px;
    height: 20%;
    margin: 10% 1.5px 0px;
    padding: 1%;
    text-align: center;
    vertical-align: top;
    border: 1px solid #A9A9A9;
    border-bottom-style:hidden;
    color: #808080;

    border-radius: 5px 5px 0px 0px;
}

.content{
    height : 100%;
    padding: 1%;
    margin: 1%;
}
.tabSelected{
	background-color: #B5DAFF;
    color: #4169E1;
}
.innerDisplay{
	
	position: relative;
	top: -11px;
	z-index: -1;
	background-color: #B5DAFF;
    vertical-align: text-top;   
    height: 100%;
    border: 1px solid #A9A9A9;
    border-radius: 5px;
}

.learnMore{
	position: relative;
	left : 15%;
    top: -25px;
	text-align: center;
    vertical-align: middle;
    color: #FFF;
    height: 58%;
    padding: 1%;
    background-color: rgb(51, 204, 51);
    border: 1px solid #A9A9A9; 
    border-radius: 0.5%;
}

.textBlue{
	color: rgb(100,149,237);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}
h2 {
	color :#656565;
}

